
.Blog {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
}
.Blog ul{
    margin:0;
    padding:0;
    list-style:none;
    text-align:center;
    width:100%
}

.Blog li{
    display:inline-block;
    margin:20px;
   
}

.Blog a:hover,
.Blog a:active,
.Blog a.active{
    color:#fa923f
}

.Blog a{
    text-decoration: none;
    color:black
}